* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100px;
}

header {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: peachpuff;
    color: #fff;
}